.footer {
       
    background-image: url('/assets/img/header/tu-tram-pham-202263.jpg'); /* Replace with your image path */
    background: rgb(126,90,255);
    background: linear-gradient(40deg, rgba(126,90,255,1) 0%, rgba(85,183,255,1) 100%);
    background-size: cover; /* Adjust to fit the container */
    height: 549px;
    width: 100%; /* Make the image fill the container horizontally */
   
}

.footer_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_logo_content {

    p{
        font-family: var(--font-montserrat);
        font-weight: var(--regular);
        font-size: 14px;
        color: white;
        
    }
}

.footer_logo_img{
    margin-bottom: 40px;
}

.footer_content{
    height: 549px;
}

