.footer {
  background-image: url("/assets/img/header/tu-tram-pham-202263.jpg");
  /* Replace with your image path */
  background: #7e5aff;
  background: linear-gradient(40deg, #7e5aff 0%, #55b7ff 100%);
  background-size: cover;
  /* Adjust to fit the container */
  height: 549px;
  width: 100%;
  /* Make the image fill the container horizontally */
}

.footer_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_logo_content p {
  font-family: var(--font-montserrat);
  font-weight: var(--regular);
  font-size: 14px;
  color: white;
}

.footer_logo_img {
  margin-bottom: 40px;
}

.footer_content {
  height: 549px;
}