.footer {
       
    background-image: url('/assets/img/footer/footer_img.jpg'); /* Replace with your image path */
    background-size: cover; /* Adjust to fit the container */
    object-fit: cover;
    background-position: center;
    height: 549px;
    width: 100%; /* Make the image fill the container horizontally */
    position: relative;
     
}



.footer_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_logo_content {

    p{
        font-family: var(--font-montserrat);
        font-weight: var(--regular);
        font-size: 14px;
        color: white;
        
    }
}

.footer_logo_img{
    margin-bottom: 40px;
}

.footer_content{
    height: 549px;
}

