
.gallery_btn {
    margin-top: 60px;
    margin-bottom: 139px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-montserrat);
    font-weight: var(--bold);
    font-size: 44px;
    color: var(--txt_cl_primar);
    margin-top:170px; 
    margin-bottom: 89px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Create 3 columns: 2fr for img1, 1fr for img2 and img3 */
  grid-template-rows: 1fr 1fr; /* Create 2 rows */
  grid-gap: 10px; /* Set gap between rows and columns to 10px */
}

.gallery_img1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

}

.gallery_img2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  
}

.gallery_img3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;

}

.gallery_img4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
 
}

.gallery_img5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
 
}

.img_styling{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  }
