.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Create 4 equal-width columns */
  grid-template-rows: repeat(2, 1fr);
  /* Create 2 equal-height rows */
  grid-gap: 10px;
  /* Set gap between rows and columns to 10px */
}

.gallery_btn {
  margin-top: 60px;
  margin-bottom: 139px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-montserrat);
  font-weight: var(--bold);
  font-size: 44px;
  color: var(--txt_cl_primar);
  margin-bottom: 89px;
}

.gallery_item_1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

.gallery_item_2 {
  grid-column-start: 3;
  grid-row-start: 1;
}

.gallery_item_3 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.gallery_item_4 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.gallery_item_5 {
  grid-column-start: 4;
  grid-row-start: 2;
}