.header_section {
  background-image: url("/assets/img/header/tu-tram-pham-202263.jpg");
  /* Replace with your image path */
  object-fit: cover;
  background-size: cover;
  /* Adjust to fit the container */
  height: 800px;
  width: 100%;
  /* Make the image fill the container horizontally */
  position: relative;
}

.main_nav_list {
  display: flex;
  column-gap: 93px;
}
.main_nav_list li {
  list-style: none;
  display: inline-block;
}
.main_nav_list a {
  text-decoration: none;
  font-size: 14px;
  font-weight: var(--regular);
  line-height: auto;
  text-transform: uppercase;
  color: white;
  font-family: var(--font-open-sans);
}
.main_nav_list a:hover {
  font-size: 15px;
}
.main_nav_list a::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 8px;
  height: 8px;
  font-size: 15px;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 50%;
}

.header_logo_img {
  width: 241px;
  height: 54px;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 53px;
}

.social_links {
  display: flex;
  column-gap: 20px;
}

.hero_slider_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.hero_slider_content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.hero_slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero_slider_heading {
  text-align: center;
  font-weight: var(--bold);
  letter-spacing: 10px;
  font-size: 80px;
  color: var(--txt_cl_secondary);
}

.hero_slider_txt {
  font-weight: var(--regular);
  font-size: 18px;
  letter-spacing: 6px;
  color: var(--txt_cl_secondary);
  text-align: center;
}

.slick-dots.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* Adjust the bottom margin  
  as needed */
}

.slick-dots.vertical li {
  margin: -30px 0;
  /* Adjust the vertical spacing between dots */
}