.header_section {
  padding-top: 53px;
  background-image: url();
}

.main_nav_list {
  display: flex;
  column-gap: 93px;
}
.main_nav_list li {
  list-style: none;
  display: inline-block;
}
.main_nav_list a {
  text-decoration: none;
  font-size: 14px;
  font-weight: var(--regular);
  line-height: auto;
  text-transform: uppercase;
  color: black;
}

.header_logo_img {
  width: 241px;
  height: 54px;
  background-color: red;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social_links {
  display: flex;
  background-color: red;
  column-gap: 20px;
}

.hero-image {
  background: #7e5aff;
  background: linear-gradient(40deg, #7e5aff 0%, #55b7ff 100%);
  background-image: url("/assets/img/header/tu-tram-pham-202263.jpg");
  /* Replace with your image path */
  background-size: cover;
  /* Adjust to fit the container */
  height: 800px;
  width: 100%;
  /* Make the image fill the container horizontally */
}