* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --regular: 400;
    --medium: 500;
    --demi-bold: 600;
    --bold: 800;

    --font-montserrat: "Montserrat", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;

    --txt_cl_primary:#2C4058;
    --btn_txt_cl_hover:#fff;
    --btn_border_cl: #000000;
    --btn_bg_cl:white;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: var(--font-montserrat);
 }

 .container {
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 5px;
    flex-wrap: wrap;
}