* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --regular: 400;
  --medium: 500;
  --demi-bold: 600;
  --bold: 800;
  --font-montserrat: "Montserrat", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --txt_cl_primary:#2C4058;
  --btn_txt_cl_hover:#fff;
  --btn_border_cl: #000000;
  --btn_bg_cl:white;
  --txt_cl_secondary: white;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--font-montserrat);
}

.container {
  width: 81.25%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 5px;
  flex-wrap: wrap;
}

.gradient {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #7e5aff;
  background: linear-gradient(40deg, #7e5aff 0%, #55b7ff 100%);
  /* Adjust gradient colors as needed */
  opacity: 0.8;
  z-index: 1;
}