
.slider_content{
    margin-bottom: 143px;

    img{
        margin-bottom:20px;
    }
}

.slider_content_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 370px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;

    h3{
        font-family: var(--font-montserrat);
        font-weight: var(--bold);
        font-size: 22px;
        color: var(--txt_cl_primary);
        margin-bottom:15px;
    }

    .slider_short_text{
        font-family: var(--open_sans);
        font-weight:var(--regular);
        font-size: 18px;
        color: var(--txt_cl_primary);
        margin-bottom: 39px;
    }
}

.author_information{
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    width: 100%;
    column-gap: 20px;
    

    img{
        border-radius: 50%;
        width:60px;
        height:60px;
        
        
    }

}
.author{
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    
}

.author_name{
    font-family: var(--font-montserrat);
    font-weight: var(--regular);
    font-size: 18px;
    color: var(--txt_cl_primary);
    margin-bottom: 6px !important;
}

.author_date{
    margin-bottom: 0px !important;
    font-family: var(--font-montserrat);
    font-size: 14px;
    font-weight: var(--regular);
    color: #55B7FF;
}


