.latest_news {
  background-image: url(/assets/img/news/bg_news.jpg);
  background-size: cover;
  /* Adjust to fit the container */
  width: 100%;
  /* Make the image fill the container horizontally */
}

.latest_news_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-montserrat);
  font-weight: var(--bold);
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 89px;
  padding: 135px;
}

.slider_content {
  background-color: white;
}
.slider_content img {
  margin-bottom: 20px;
}

.slider_content_block {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  width: 100%;
  text-align: left;
  padding-left: 20px;
}
.slider_content_block h3 {
  font-family: var(--font-montserrat);
  font-weight: var(--bold);
  font-size: 22px;
  color: var(--txt_cl_primary);
  margin-bottom: 15px;
}
.slider_content_block .slider_short_text {
  font-family: var(--open_sans);
  font-weight: var(--regular);
  font-size: 18px;
  color: var(--txt_cl_primary);
  margin-bottom: 39px;
}

.author_information {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 20px;
}
.author_information img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.author {
  align-items: center;
  justify-content: center;
  column-gap: 6px;
}

.author_name {
  font-family: var(--font-montserrat);
  font-weight: var(--regular);
  font-size: 18px;
  color: var(--txt_cl_primary);
  margin-bottom: 6px !important;
}

.author_date {
  margin-bottom: 0px !important;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: var(--regular);
  color: #55B7FF;
}

.nav_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.nav_button.slick-prev {
  left: -60px;
}
.nav_button.slick-next {
  right: -60px;
}

.slick-dots {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
  color: transparent;
  gap: 40px;
  margin-top: 70px;
}
.slick-dots .slick-active button {
  background-color: white;
}
.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  margin-bottom: 50px;
}